@import 'fonts';
@import 'reset';
@import 'libs';
@import 'vars';
@import 'global';

.header {
  height: 100vh;
  z-index: 1;
  position: relative;

  &__inner {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding-top: calc(100vh - 750px);
  }

  &__slogan {
    width: 669px;
    z-index: 2;
  }

  &__title {
    text-transform: uppercase;
    margin-bottom: 25px;
    font-size: 35px;
  }

  &__special {
    background-color: red;
    margin-bottom: 10px;
    font-size: 25px;
    display: inline-block;
  }

  &__color {
    background-color: red;
    margin-bottom: 65px;
    font-size: 25px;
    display: inline-block;
  }

  &__info {
    margin-bottom: 40px;
    font-size: 23px;
  }

  &__highlight {
    background-color: tomato;
  }

}

.header:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.8);
  z-index: 0;
}

.form {
  background-color: #fff;
  color: grey;
  display: flex;
  flex-direction: column;
  padding: 40px 25px;
  max-width: 358px;
  min-height: 423px;
  text-align: center;
  z-index: 2;

  &__title {
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  &__text {
    margin-bottom: 25px;
  }

  &__input {
    padding: 13px;
    border: 1px solid grey;


    &--name {
      margin-bottom: 25px;
    }

    &--tel {
      margin-bottom: 30px;
    }
  }


  &__button {
    font-family: inherit;
    margin: 0 auto;
    color: #fff;
    text-transform: uppercase;
    background-color: orangered;
    padding: 10px 25px;
    border-radius: 6px;
  }
}